html, body{
    font-family: 'Helvetica', 'Arial', sans-serif;

}

p {
    line-height: 1.5;
}
header#top {
    height:90px;
    background:red;
    text-align: center;
    padding: 15px;
}

img {
    height: 100%;
}

section#big-picture{
    height:50vh;
    background: blue url('https://newevolutiondesigns.com/images/freebies/flowers-wallpaper-24.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
}
div#center-text {
  width:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  text-align:center;
  color:white;
  font-size:30pt;
  font-weight:700;
  font-style:italic;
  text-shadow:2px 2px 3px black;

}
div#main{
    width: 50%;
    margin:100px auto;
}

#work-examples figure{
    display: inline-block;
    width:30%;
    background: red;
    height:200px;
    margin:0;
}

#work-examples figure img{
    width:100%;
    height:100%;
}

.transparent {
    opacity:.5;
}
footer {
    padding: 20px 0;
}


#footer-text {
    color:grey;
}
